body {
  font-family: "Lato", sans-serif;
}

html, body {margin: 0; height: 100%; overflow: hidden}

hr {
  width: 90%;
}

.modal {
  color: #d9d9d9;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(33,33,33); /* Fallback color */
  background-color: rgba(33,33,33,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgb(51,51,51);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


.sidenav {
  height: 100%;
  width: 48%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  /* transition: 0.5s; */
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  /* transition: 0.3s; */
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button5 {background-color: #555555;}


/* General Blueprint Style */

@font-face {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/bpicons/bpicons.eot');
	src: url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'), url('../fonts/bpicons/bpicons.woff') format('woff'), url('../fonts/bpicons/bpicons.ttf') format('truetype'), url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
}


/* Made with http://icomoon.io/ */


/* Resets */

*,
*:after,
*:before {
	box-sizing: border-box;
}


/* Helper classes */

.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}


/* Main styles */

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	margin: 0;
	color: #cecece;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #5c5edc;
	outline: none;
}

a:hover {
	color: #fff;
}


/* Blueprint header */

.bp-header {
	padding: 6em 10vw 2em;
}

.bp-header__title {
	font-size: 2.125em;
	font-weight: 700;
	line-height: 1.3;
	margin: 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
}

.bp-header__desc {
	font-size: 0.95em;
	margin: 0.5em 0 1em;
	padding: 0;
}

.bp-header__present {
	font-size: 0.85em;
	font-weight: 700;
	position: relative;
	z-index: 100;
	display: block;
	padding: 0 0 0.6em 0.1em;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #5c5edc;
}

.bp-tooltip:after {
	font-size: 50%;
	font-size: 75%;
	position: relative;
	top: -8px;
	left: -12px;
	width: 30px;
	height: 30px;
}

.bp-tooltip:hover:before {
	content: attr(data-content);
	font-size: 110%;
	font-weight: 700;
	line-height: 1.2;
	position: absolute;
	left: auto;
	margin-left: 4px;
	padding: 0.8em 1em;
	text-align: left;
	text-indent: 0;
	letter-spacing: 0;
	text-transform: none;
	color: #fff;
	background: #5c5edc;
}

.bp-nav {
	margin: 0 0 0 -0.75em;
}

.bp-nav__item {
	position: relative;
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	margin: 0 0.1em;
	text-align: left;
	border-radius: 50%;
}

.bp-nav__item > span {
	display: none;
}

.bp-nav__item:hover:before {
	content: attr(data-info);
	font-size: 0.85em;
	font-weight: bold;
	position: absolute;
	top: 120%;
	left: 0;
	width: 600%;
	text-align: left;
	pointer-events: none;
	color: #595a5f;
}

.bp-nav__item:hover {
	background: #5c5edc;
}

.bp-icon:after {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	text-transform: none;
	color: #5c5edc;
	-webkit-font-smoothing: antialiased;

	speak: none;
}

.bp-nav .bp-icon:after {
	line-height: 2.4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: 0;
}

.bp-nav a:hover:after {
	color: #fff;
}

.bp-icon--next:after {
	content: '\e000';
}

.bp-icon--drop:after {
	content: '\e001';
}

.bp-icon--archive:after {
	content: '\e002';
}

.bp-icon--about:after {
	content: '\e003';
}

.bp-icon--prev:after {
	content: '\e004';
}

@media screen and (max-width: 40em) {
	.bp-header {
		padding: 50px 20px 1em;
	}
	.bp-header__title {
		font-size: 1.8em;
	}
}
* {
		  box-sizing: border-box;
		}

		input[type=text], select, textarea {
		  width: 20%;
		  background-color: #4d4d4d;
		  color: white;
		  padding: 12px;
		  border: 1px solid #ccc;
		  border-radius: 4px;
		  resize: vertical;
		}
		
		input[type=password], select, textarea {
		  width: 100%;
		  padding: 12px;
		  border: 1px solid #ccc;
		  border-radius: 4px;
		  resize: vertical;
		}

		label {
		  padding: 12px 12px 12px 0;
		  display: inline-block;
		}

		input[type=submit] {
		  background-color:  #7289da;
		  color: white;
		  padding: 12px 20px;
		  border: none;
		  border-radius: 4px;
		  cursor: pointer;
		  float: right;
		}

		input[type=submit]:hover {
		  background-color: #5e77d4;
		}

		.container {
		  border-radius: 5px;
		  background-color:#3b3f44;
		  padding: 20px;
		}

		.col-25 {
		  float: left;
		  width: 25%;
		  margin-top: 6px;
		}

		.col-75 {
		  float: left;
		  width: 75%;
		  margin-top: 6px;
		}

		.row:after {
		  content: "";
		  display: table;
		  clear: both;
		}

		@media screen and (max-width: 600px) {
		  .col-25, .col-75, input[type=submit] {
			width: 100%;
			margin-top: 0;
		  }
		}
		
		table {
		  border-collapse: collapse;
		  border: 1px solid #050505;
		  width: 100%;
		}

		th, td {
		  text-align: center;
		  padding: 8px;
		}
		
		th { border: 1px solid #050505 }
		tr { border: 1px solid #050505 }
		
		tr:hover {
		  background-color: #393939;
		}

		/* tr:nth-child(even){ background-color: #393939; } /* #4d4d4d */
		
		thead { border: 1px solid #050505 }

		th {
		  background-color: #1c1c1c; /* #23272a */
		  color: white;
		}
		
		@media screen and (max-width: 640px) {
		  table,
		  tbody,
		  tr,
		  td {
			display: block;
			width: auto!important;
		  }
		}